<% include partials/header %>

	<div class="container"> 
		<h1>Generate Your Own Meme!</h1>
		
		<div class="input-group">
			<span class="input-group-addon">Top Text:</span>
			<input id="topMeme" type="text" class="form-control" onclick="this.value='';">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Bottom Text:</span>
			<input id="botMeme" type="text" class="form-control" onclick="this.value='';">
		</div>
		
		<label for="memeSelect">Select Meme:</label>
		<select id="memeSelect" class="form-control" onchange="changeMeme()">
			<option value="blackGUy.png">Black Guy
			<option value="Cash_Me.jpg">Cash Me
		</select>
		
		<br>
		<button class="btn btn-default btn-large" type="button" onclick="memeGenerate()">Generate</button>
		<br>
		
		<p class="meme" id="top">Top Text</p>
		<img id= "memePic" src="assets/blackGUy.png" style="width: 700px; height: 500px;"></img>
		<p class="meme" id="bot">Bottom Text</p>
	</div>
	
	<script src="js/index.js"></script>
	
<% include partials/footer %>