<% include partials/header %>
<link rel="stylesheet" href="css/tinder.css" type="text/css" />


<div class="container">
  <h1>swipe</h1>
  
  <div class="cardcontainer list">
      <ul class="cardlist">
          <li class="card current"><img src="https://www.mobafire.com/images/avatars/ahri-classic.png"></li>
          <li class="card"><img src="https://i.pinimg.com/736x/5e/1d/85/5e1d850ec95f4716dbe446c2509f1cea--on-tumblr-chibi.jpg"></li>
      </ul>
      
      <button class="but-nope">No</button>
      <button class="but-yay">Ye</button>
  </div>
</div>

<script src="/js/tinder.js"></script>
<% include partials/footer %>